*{
    padding: 0;
    margin: 0;
}

.product-list
{
    width: 100%;
    background: #fff;
    position: relative;
}

.product-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}

.product-list ul li{
    position: relative;
    line-height: 36px;
    height: 36px;
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3 ease, color 0.3s ease;
}

.product-list li:hover{
    background: #f4c340;
    color: #333;
}

.sub-products
{
    position: fixed;
    top: 0;
    left: 80px;
    right: 0;
    background: #fff;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease, opacity 1s ease;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    padding-left: 20px;
    z-index: 10;
}

.sub-products ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}

.sub-products ul li{
    line-height: 36px;
    height: 36px;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
    padding: 0 15px;
    background: #f9f9f9;
    transition: background 0.3s ease;
}

.sub-products ul li:hover{
    background-color: #f1f1f1;
}

.product-list ul li:hover .sub-products
{
    opacity: 1;
    transform: translateX(0);
}